@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: beige;
    background-color: #3a3a3a;
}

/* Heading and logo */

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: beige
}

h3 {
    text-align: center;
    font-size: x-large;
}

h2 {
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
    text-decoration: underline;
}

#main-heading {
    float: left;
    font-size: 300%;
    padding: 15px;
    margin-left: 30px;
}

/* navigation menu */

#nav-menu {
    font-size: 170%;
    letter-spacing: 3px;
    padding: 30px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: beige;
}

#nav-menu a {
    text-decoration: none;
    color: beige;
}

#nav-menu li a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* Main Home Image */

#main-image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 400px;
    width: 100%;
    background-image: url('../images/main-image.jpg');


    animation-name: image-motion;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Main-image Animation - Credit: CI's Love Running */

@keyframes image-motion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* About Section */

#about-section {
    height: 500px;
    width: 100%;
    background-color: beige;
    color:#3a3a3a;
    border-radius: 10%;
}

#about-heading {
    text-align: center;
    margin-top:  50px;
}

#left-about {
    padding-top: 10px;
    float: left;
    width: 33%;
    text-align: left;
}

#right-about {
    padding-top: 10px;
    float: right;
    width: 33%;
    text-align: right;
}

#middle-about {
    margin: 50px auto;
    width: 33%;
    text-align: center;
    padding: 25px;
}

#about-image {
    border: 10px solid #3a3a3a;
    border-radius: 30%;
}

#left-about > h3 ~ p {
    font-weight: 900;
    font-size: larger;
    font-style: oblique;
    padding-left: 40px;
    color: #3a3a3a;
}

#right-about > h3 ~ p {
    font-weight: 900;
    font-size: larger;
    font-style: oblique;
    padding-right: 40px;
    color: #3a3a3a;
}

/* Contact Section - contact info */

#contact {
    height: 475px;
    width: 100%;
    color: beige;
    background-color: #3a3a3a;
    margin-bottom: 50px;
}

#contact-left {
    height: 375px;
    float: left;
    width: 40%;
    margin-left: 100px;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
}

#contact-right {
    height: 375px;
    float: right;
    width: 40%;
    margin-right: 100px;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
}

.contact-heading {
    color: beige;
    text-align: center;
    margin: 50px;
    background-color: rgba(58, 58, 58, .6);
}

/* Footer - Social Links and Copyright */

footer {
    height: 250px;
    background-color: beige;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
    text-decoration: none;
}

.social-links i {
    font-size: 250%;
    padding: 5%;
    color: #3a3a3a;
    list-style-type: none;
}

#copyright {
    background-color: beige;
    color: #3a3a3a;
    padding: 20px;
    text-align: center;
}

/* Adventures Page - Activities Offered */

#mountain-section {
    height: 875px;
    background-color: beige;
    background: url('../images/mountain-back.webp') no-repeat center center;
    color: #3a3a3a;
    margin-top: 28px;
}

#adventures-heading {
    text-align: center;
    padding-top: 20px;
    float: right;
    clear: both;
    margin-right: 500px;
}

#adventure-div {
    height: 750px;
    float: right;
    width: 45%;
    text-align: center;
    border-radius: 25px;
    font-size: large;
    padding: 20px;
    margin-right: 250px;
    clear: both;
}

.adventure-list > li {
    padding: 10px;
}

#mountain-div {
    height: 250px;
    float: right;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    font-size: large;
}

#air-div {
    height: 250px;
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    font-size: large;
}

ul {
    list-style-type: none;
}

#ocean-div {
    height: 250px;
    float: right;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    margin-top: 20px;
    font-size: large;
}

#hiking-div {
    height: 250px;
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    margin-top: 20px;
    font-size: large;
}

/* Form Section - Personalised Brochure Submition Form */

#booking-section {
    height: 900px;
    width: 100%;
    background: url('../images/kayak.jpg') no-repeat center center;
    margin-top: 28px;
}

#booking-heading {
    color: beige;
    float: right;
    margin-right: 250px;
    margin-top: 30px;
}

#booking-form {
    height: 775px;
    width: 30%;
    float: right;
    margin-right: 175px;
    margin-top: 30px;
    background-color: rgba(245, 245, 220, 0.6);
    clear: both;
    border-radius: 10px;
}

#personal-div {
    color: black;
    width: 60%;
    height: 300px;
    text-align: center;
    margin-left: 120px;
    margin-top: 20px;
}

#personal-heading {
    margin-bottom: 20px;
}

#interest-heading {
    margin-bottom: 20px;
    margin-top: 40px;

}

input {
    background: beige;
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #3a3a3a;
    border-radius: 2px;
    clear: right;
}

#submit-button {
    background: #3a3a3a;
    color: beige;
    width: 50%;
    height: 25px;
    margin: 0 auto;
    border: 2px solid beige;
    border-radius: 2px;
}

#submit-button:hover {
    background-color: beige;
    color: #3a3a3a;
    border-color: #3a3a3a;
}

#interest-div {
    color: black;
    width: 60%;
    height: 300px;
    text-align: left;
    margin-left: 120px;
    align-content: center;
}

.button-div {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: large;
    background-color: rgba(245, 245, 220, 0.6);
    text-align: center;
}

#interest-div > input {
    display: grid; 
}

/* Media Queries */

/* For screens 1375px wide or less */
@media screen and (max-width: 1375px) {

    #nav-menu > li {
        font-size: x-large;
    }

    #about-section {
        width: 100%;
        height: 650px;
        margin: 0 auto;
        padding: 0;
    }

    #left-about, #right-about {
        width: 25%;
        font-size: small;
        margin: 0 auto;
    }

    #middle-about {
        float: none;
        width: 100%;
        height: 100%;

    }

    #mountain-section {
        width: 100%;
        margin: 0;
        padding: 0;
        clear: both;
    }

    #adventure-div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #adventures-heading {
        width: 100%;
        float: none;
    }

    #mountain-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-right: 150px;
        margin-bottom: 25px;
    }
    #air-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-left: 150px;
        margin-bottom: 25px;
    }

    #ocean-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-right: 150px;
    }

    #hiking-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-left: 150px;
    }

    #booking-section {
        width: 100%;
        margin: 0;
        padding: 0;
        clear: both;
    }

    #booking-heading {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 100px;
    }

    #booking-form {
        width: 45%;
        padding-right: 25px;
    }
    
}


/* For screens 1000px wide or less */
@media screen and (max-width: 1000px) {

    nav {
        clear: both;
        margin: 0;
    }

    #nav-menu > li {
        font-size: large;
    }

    #about-section {
        width: 100%;
        height: 850px;
    }

    #left-about, #right-about {
        width: 40%;
    }

    #middle-about {
        clear: both;
        margin: 0 auto;
    }

    #contact {
        width: 100%;
        height: 600px;
    }

    #contact-left, #contact-right {
        width: 30%;
        height: 500px;
    }

    #booking-section {
        width: 100%;
    }

    #booking-heading {
        margin-top: 0;
    }

    #mountain-section {
        width: 100%;
        margin: 0;
        padding: 0;
        clear: both;
    }

    #adventure-div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #adventures-heading {
        width: 100%;
        float: none;
    }

    #mountain-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-right: 60px;
        margin-bottom: 60px;
    }
    #air-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-left: 60px;
        margin-bottom: 60px;
    }

    #ocean-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-right: 60px;
    }

    #hiking-div {
        width: 23%;
        margin: 0 auto;
        display: grid;
        margin-left: 60px;
    }

}

/* For screens 850px wide or less */
@media screen and (max-width: 850px) {
    #booking-form {
        width: 65%;
    }

    #booking-heading {
        margin: 0 auto;
    }
}

/* For screens 768px or less */
@media screen and (max-width: 768px) {

    nav {
        clear: both;
    }

    #nav-menu > li {
        font-size: large;
    }

    #main-image-container {
        width: 100%;
        margin: 0;
    }

    #main-image {
        width: 100%;
        float: none;
        display: grid;
    }

    #about-section {
        width: 100%;
        height: 1000px;
    }

    #left-about, #right-about {
        width: 40%;
    }

    #middle-about {
        width: 100%;
        height: 100%;
        clear: both;
    }

    #contact {
        width: 100%;
        height: 600px;
    }

    #contact-left, #contact-right {
        width: 30%;
        height: 500px;
    }

    #mountain-section {
        width: 100%;
        height: 1100px;
        margin: 0;
        padding: 0;
    }

    #adventure-div {
        width: 100%;
        height: 1100px;
        margin: 0;
        padding: 0;
    }

    #adventures-heading {
        width: 100%;
        float: none;
    }

    #mountain-div {
        width: 23%;
        height: 350px;
        margin: 0 auto;
        display: grid;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    #air-div {
        width: 23%;
        height: 350px;
        margin: 0 auto;
        display: grid;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #ocean-div {
        width: 23%;
        height: 350px;
        margin: 0 auto;
        display: grid;
        margin-right: 15px;
    }

    #hiking-div {
        width: 23%;
        height: 350px;
        margin: 0 auto;
        display: grid;
        margin-left: 15px;
    }

    .adventure-list {
        font-size: medium;
    }

    #booking-section {
        width: 100%;
        height: 1100px;
        margin: 0;
        padding: 0;
    }

    #booking-heading {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 auto;
        clear: both;
    }

    #booking-form {
        width: 55%;
        height: 900px;
        display: grid;
        clear: both;
    }
}

/* For screens of 728px or less */
@media screen and (max-width: 728px) {

    #booking-section {
        width: 100%;
        height: 1100px;
        margin: 0;
        padding: 0;
    }

    #booking-heading {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 auto;
        clear: both;
    }

    #booking-form {
        width: 70%;
        height: 950px;
        display: grid;
        clear: both;
        float: none;
        margin-left: 15%;
    }
}

/* For screens of 585px or less */
@media screen and (max-width: 585px) {
    nav {
        clear: both;
    }

    #nav-menu > li {
        font-size: small;
        margin: 5px;
    }

    #interest-heading {
        margin-top: 5px;
    }

    input {
        margin-bottom: 10px;
    }

    #booking-form {
        padding: 0;
    }

    #personal-div, #interest-div {
        width: 45%;
        height: 300px;
        margin: 0 auto;
        padding: 0;
    }

    #personal-heading, #interest-heading {
        font-size: large;
    }

    #submit-button {
        width: 70%;
    }
}

/* For screens of 525px or less */
@media screen and (max-width: 525px) {

    #about-section {
        width: 100%;
        height: 1150px;
    }

    #left-about, #right-about {
        width: 45%;
    }

    #contact {
        width: 100%;
        height: 1000px;
    }

    #contact-left, #contact-right {
        width: 80%;
        height: 375px;
        margin: 0 auto;
        font-size: small;
    }

    #contact-left {
        margin-left: 10%;
    }

    #contact-right {
        margin-right: 10%;
    }
}

/* For screens of 500px or less */
@media screen and (max-width: 500px) {
    #mountain-section {
        width: 100%;
        height: 1270px;
        margin: 0;
        padding: 0;
    }

    #adventure-div {
        width: 100%;
        height: 1270px;
        margin: 0;
        padding: 0;
    }

    #adventures-heading {
        width: 100%;
        float: none;
    }

    #mountain-div {
        width: 72%;
        height: 160px;
        margin: 0;
        display: grid;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    #air-div {
        width: 72%;
        height: 160px;
        margin: 0 auto;
        display: grid;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    #ocean-div {
        width: 72%;
        height: 160px;
        margin: 0;
        display: grid;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    #hiking-div {
        width: 72%;
        height: 160px;
        margin: 0 auto;
        margin-left: 10px;
        display: grid;
    }

    .adventure-list {
        font-size: x-small;
    }

    #submit-button {
        width: 90%;
    }
}

/* For screens of 390px or less */
@media screen and (max-width: 390px) {

    nav {
        clear: both;
    }

    #nav-menu > li {
        font-size: x-small;
        margin: 2px;
    }

    #about-section {
        width: 100%;
        height: 1300px;
    }

    #left-about, #right-about {
        width: 90%;
    }

    #middle-about {
        width: 100%;
        clear: both;
        margin: 0 auto;
    }

    #contact {
        width: 100%;
        height: 1000px;
    }

    #contact-left, #contact-right {
        width: 80%;
        height: 400px;
        margin: 0 auto;
        font-size: small;
    }

    #contact-left {
        margin-left: 10%;
    }

    #contact-right {
        margin-right: 10%;
    }

    #mountain-section {
        width: 100%;
        height: 1270px;
        margin: 0;
        padding: 0;
    }

    #adventure-div {
        width: 100%;
        height: 1270px;
        margin: 0;
        padding: 0;
    }

    #adventures-heading {
        width: 100%;
        float: none;
        font-size: large;
    }

    #mountain-div {
        width: 55%;
        height: 180px;
        margin: 0 auto;
        display: grid;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    #air-div {
        width: 55%;
        height: 180px;
        margin: 0 auto;
        display: grid;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    #ocean-div {
        width: 55%;
        height: 180px;
        margin: 0;
        display: grid;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    #hiking-div {
        width: 55%;
        height: 180px;
        margin: 0 auto;
        margin-left: 10px;
        display: grid;
    }

    .adventure-list {
        font-size: x-small;
    }

    #booking-form {
        width: 100%;
        margin: 0 auto;
    }

    #booking-heading {
        font-size: larger;
    }
}