@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: beige;
    background-color: #3a3a3a;
}

/* Heading and logo */

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: beige
}

h3 {
    text-align: center;
    font-size: x-large;
}

h2 {
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
    text-decoration: underline;
}

#main-heading {
    float: left;
    font-size: 300%;
    padding: 15px;
    margin-left: 30px;
}

/* navigation menu */

#nav-menu {
    font-size: 170%;
    letter-spacing: 3px;
    padding: 30px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: beige;
}

#nav-menu a {
    text-decoration: none;
    color: beige;
}

#nav-menu li a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* Main Home Image */

#main-image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 400px;
    width: 100%;
    background-image: url('../images/main-image.jpg');


    animation-name: image-motion;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Main-image Animation */

@keyframes image-motion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* About Section */

#about-section {
    height: 500px;
    width: 100%;
    background-color: beige;
    color:#3a3a3a;
    border-radius: 10%;
}

#about-heading {
    text-align: center;
    margin-top:  50px;
}

#left-about {
    padding-top: 10px;
    float: left;
    width: 33%;
    text-align: left;
}

#right-about {
    padding-top: 10px;
    float: right;
    width: 33%;
    text-align: right;
}

#middle-about {
    margin: 50px auto;
    width: 33%;
    text-align: center;
    padding: 25px;
}

#about-image {
    border: 10px solid #3a3a3a;
    border-radius: 30%;
}

#left-about > h3 ~ p {
    font-weight: 900;
    font-size: larger;
    font-style: oblique;
    padding-left: 40px;
    color: #3a3a3a;
}

#right-about > h3 ~ p {
    font-weight: 900;
    font-size: larger;
    font-style: oblique;
    padding-right: 40px;
    color: #3a3a3a;
}

/* Contact Section - iframe map and contact info */

#contact {
    height: 475px;
    width: 100%;
    color: beige;
    background-color: #3a3a3a;
    margin-bottom: 50px;
}

#contact-left {
    height: 375px;
    float: left;
    width: 40%;
    margin-left: 100px;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
}

#contact-right {
    height: 375px;
    float: right;
    width: 40%;
    margin-right: 100px;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
}

.contact-heading {
    color: beige;
    text-align: center;
    margin: 50px;
    background-color: rgba(58, 58, 58, .6);
}

/* Footer - Social Links, badges and Copyright */

footer {
    height: 250px;
    background-color: beige;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
    text-decoration: none;
}

.social-links i {
    font-size: 250%;
    padding: 5%;
    color: #3a3a3a;
    list-style-type: none;
}

#copyright {
    background-color: beige;
    color: #3a3a3a;
    padding: 20px;
    text-align: center;
}

/* Adventures Page */

#mountain-section {
    height: 875px;
    background-color: #3a3a3a;
    background: url('../images/mountain-back.jpg') no-repeat center center;
    color: #3a3a3a;
    margin-top: 28px;
}

#adventures-heading {
    text-align: center;
    padding-top: 20px;
    float: right;
    clear: both;
    margin-right: 500px;
}

#adventure-div {
    height: 750px;
    float: right;
    width: 45%;
    text-align: center;
    border-radius: 25px;
    font-size: large;
    padding: 20px;
    margin-right: 250px;
    clear: both;
}

#mountain-div {
    height: 250px;
    float: right;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    font-size: large;
}

#air-div {
    height: 250px;
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    font-size: large;
}

ul {
    list-style-type: none;
}

#ocean-div {
    height: 250px;
    float: right;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    margin-top: 20px;
    font-size: large;
}

#hiking-div {
    height: 250px;
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgba(128, 128, 128, .6);
    border-radius: 25px;
    padding: 60px;
    margin-top: 20px;
    font-size: large;
}
