@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: beige;
    background-color: #3a3a3a;
}

/* Heading and logo */

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: beige;
}

#main-heading {
    float: left;
    font-size: 300%;
    padding: 20px;
}

/* navigation menu */

#nav-menu {
    font-size: 170%;
    letter-spacing: 3px;
    padding: 20px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: beige;
}

#nav-menu li:hover {
    color: white;
    border-bottom: 2px solid white;
}